* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 18% 80%; /* Modification de la largeur du side bar */
    height: 100vh;
   
}

.side-bar {
    background-color: rgb(60, 61, 60);
    color: white;
    position: relative;
    height: 100%; /* Assurez-vous que la hauteur du side bar s'étend sur toute la hauteur de la page */
}

.side-bar h1 {
    margin-bottom: 20px;
    background-color: rgb(144, 146, 144);
    padding: 10px 0;
    text-align: center;
}

.side-bar ul {
    text-decoration: none;
    color: rgb(177, 177, 177);
    margin-top: 30px;
    padding: 10px;
    
}

.side-bar ul li {
    list-style: none;
    margin-bottom: 10px;
}

.side-bar ul li:hover {
    cursor: pointer;
}

.side-bar p {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.work-place {
    margin: 20px;
    border-radius: 5px;
}
